*{
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins';
}

html{
  height: 100%;
}
body{
  background-color: white;
  color: white;
  font-family: 'Poppins';
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/*.all{
  width: min(100%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: min(10px);
}*/


.header{
  top:0;
  left: 0;
  width: 100%;
  /*background-color: rgb(123, 123, 230);*/
  background-color: rgb(255, 255, 255);
  position: fixed;
  /*padding: 20px ;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  box-shadow: 0 0 2px 2px rgba(0,0,0,0.2);
  height: min(100px);
}

a{
  text-decoration: none;
  color: black;
}

.logo{
  font-size: x-large;
   margin-left: 5%;
}

.navbar a{
  font-size: large;
  padding: 20px;
  text-transform: uppercase;
  z-index: 5;
  position: relative;
}

.navbar a::before{
  content: '';
  position: absolute;
  bottom: 15px;
  width: calc(100% - 40px);
  height: 2px;
  background-color: rgb(0, 0, 0);
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: right;
}

.navbar a:hover::before{
  transform: scaleX(1);
  transform-origin: left;
}

.navbar{
  right: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.home{
  align-items: center;
  display: flex;
  height: 100vh;
}


.bars{
  position: relative;
  display: none;
  margin-right: 10%;
  z-index: 10;
  padding: 5px;
  width: 50px;
  height: 50px;
  justify-content: center;
}

.fa-bars{
  display: grid;
  justify-content: center;
  align-items: center;
  position:relative;
  top: 25%;
}

@media (max-width:800px){
  .bars{
    position: absolute;
    display: block;
    font-size: 1.5em;
    cursor: pointer;
    transform: translateX(30px);
    z-index: 10 ;
    right: 20px;
    color: black;
    justify-content: center;
    align-content: center;
  }
  
  .navbar{
    position: absolute;
    display: block;
    visibility: hidden;
    left: 100%;
  }
  .header.open .navbar{
    top: 80px;
    opacity: 1;
    visibility: visible;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 200px;
    padding: 20px;
  }
  .header.open .navbar a{
    font-size: 1.25em;
    width: 127;
  }
  .header.open .navbar a:nth-child(1){
    font-size: 1.25em;
    width: 106px;
  }
  .header.open .navbar a:nth-child(2){
    font-size: 1.25em;
    width: 97px;
  }
  
}
/*codul pentru search bar*/

.header .search{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  cursor: pointer;
  z-index: 10;
  color: black;
  right: 10%;
}

@media(max-width:800px){
  .header .search{
    right: 20%;
  }
}

@media(max-width:380px){
  .header .search{
    right: 24%;
  }
}


.searchbox{
  position: absolute;
  right: -100%;
  width: calc(100% - 60px);
  height: 100%;
  display: flex;
  background-color: #fff;
  align-items: center;
  padding: 0 30px;
  transition: 0.5s ease-in-out;
  z-index: 9;
}


.searchbox.active{
  right: 0;
}

.searchbox input{
  width: calc(100% - 140px);
  border: none;
  outline: none;
  height: 50px;
  font-size: 1.25em;
  background-color: white;
  border-bottom: 1px solid black;
}

.searchbtn{
  position: relative;
  transition: 0.5s ease-in-out;
  border: 2px solid black;
  border-radius: 50%;
  padding: 10px;
}

.icon{
  width: 50px;
  height: 50px;
}

/*.closebtn{
  display: flex;
  opacity: 0;
  visibility: hidden;
  scale: 0;
  transition: 0.5s;
  padding: 10px;
  top:-150px;
}*/

.searchbtn.active{
  left: 0;
}

/*.closebtn.active{
  opacity: 1;
  visibility: visible;
  scale: 1;
  display: flex;
  right: 0;
  top: 0;
}*/

/*second slide*/

.slide-container1{
  margin-top:100px;
  position: relative;
  width: 100%;
  height: min(300px);
  /*border: 3px solid #ede6d6;*/
  box-shadow: 0 0 8px 2px rgba(0,0,0,0.2);
}

@media(max-width:800px){
  .slide-container1{
    height: min(200px);
  }
}

.slide-container1 .slides{
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.slide-container1 .slides img{
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

.slide-container1 .slides img:not(.active){
  top: 0;
  left:-100%;
}

span.next, span.prev{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 14px;
  color: #eee;
  font-size: 24px;
  font-weight: bold;
  transition: 0.5s;
  border-radius: 3px;
  user-select: none;
  cursor: pointer;
  z-index: 1;
}

span.next{
  right: 20px;
}

span.prev{
  left: 20px;
}

span.next:hover, span.prev:hover{
  background-color: #ede6d6;
  opacity: 0.8;
  color: #222;
}

.dotsContainer1{
  position: absolute;
  bottom: 5px;
  z-index: 3;
  left: 49%;
  transform: translateX(-50%);
}

.dotsContainer1 .dot{
  width: 15px;
  height: 15px;
  margin: 0px 2px;
  border: 3px solid white;
  border-radius: 50%;
  display: inline-block;
  background-color: #eee;
  transition: background-color 0.6s ease;
  background-color: white;
  /*margin-bottom: 10PX;*/
}

.dotsContainer1 .active{
  background-color: black;
}

@keyframes next1{
  from{
      left: 0%;
  }
  to{
      left:-100%;
  }
}

@keyframes next2{
  from{
      left: 100%;
  }
  to{
      left:0%;
  }
}
/**/
@keyframes prev1{
  from{
      left: 0%;
  }
  to{
      left:100%;
  }
}

@keyframes prev2{
  from{
      left: -100%;
  }
  to{
      left:0%;
  }
}

.footer{
  top: 100%;
  width: 100%;
  height: 100px;
  color: black;
  margin-top: auto;
  background-color: black;
}

.boxes{
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(385px, 1fr));
  display: grid;
  margin: 5px 0;
  justify-content: center;
  height: 400px;
}

.box1 {
  width: 99%;
  background-color: aliceblue;
  margin: 5px;
  position: relative;
}

.box2 {
  width: 99%;
  margin: 5px;
  position: relative;
}

.box1 img, .box2 img{
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

.btn1{
  position: absolute;
  bottom: 20px;
  left: 36%;
  background-color: white;
  padding: 10px;
  z-index: 10;
  border-radius: 3px;
  font-size: 25px;
}

.box1 a::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  z-index: -1 ;
  transition: 0.7s;
  transition-timing-function: ease-in-out;
  transform-origin: right;
  backdrop-filter: blur(10px);
}

.box1 a:hover::before{
  content: '';
  width: 100%;
  z-index: 9;
  transition-timing-function: ease-in-out;
  transform-origin: right;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
}


.btn2{
  position: absolute;
  bottom: 20px;
  left: 36%;
  background-color: white;
  padding: 10px;
  z-index: 10;
  border-radius: 3px;
  font-size: 25px;
}

.box2 a::before{
  content: '';
  position: absolute;
  top: 0;
  right:  0;
  width: 0;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  z-index: -1 ;
  transition: 0.7s;
  transition-timing-function: ease-in-out;
  transform-origin: right;
  backdrop-filter: blur(10px);
}

.box2 a:hover::before{
  content: '';
  width: 100%;
  z-index: 9;
  transition-timing-function: ease-in-out;
  transform-origin: right;
  backdrop-filter: blur(10px) ;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
}

.btn1 a::before{
  content: '';
  display: none;
}

.btn2 a::before{
  content: '';
  display: none;
}

.btn1 a:hover:before{
  content: '';
  display: none;
}

.btn2 a:hover:before{
  content: '';
  display: none;
}

.box1 p{
  position: absolute;
  right: 0;
  font-size: 40px;
  color: black;
  top: 40%;
  opacity: 0;
  z-index: -1;
}

@media(max-width:600px){
  .btn2{
    left: 34%;
  }
}